<div class='pull-right'>

<% if list.user == current_user %>
  <%= link_to edit_list_path( list ) do %>
    <i class='icon-edit'></i>
  <% end %>
<% end %>

  <%= link_to(       copy_path( list ), method: :post ) do %>
    <i class='icon-share'></i>
  <% end %>

<% if list.user == current_user %>
  <%= link_to(                       list_path( list ), 
              method:                         :delete,
              data:   { :confirm => "Are you sure?" } ) do %>
    <i class='icon-trash'></i>
  <% end %>
<% end %>
</div>