<div class='list-box list-form'>
    <h2>Editing list</h2>

    <%= render 'form' %>

    <%= link_to   'Show',                        @list, 
        class:   'btn btn-warning btn-block btn-small' %>

    <%= link_to '« Back', 'javascript:history.back();', 
        class:      'btn btn-info btn-block btn-small' %>
</div>
