
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);
@import "bootstrap";

body   { 

    background-color: #eee;
    padding-top:      40px;

}

h2, h1 { font-family:           Garamond, Georgia, serif; }

input[ type = "submit" ].btn-block,
input[ type =  "reset" ].btn-block,
input[ type = "button" ].btn-block, {

  width: 100%;

}

.logo  { font-family:'Cinzel Decorative', Georgia, serif; }

.alert-error h2 {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:                                           bold;
    font-size:                                             14pt;
    line-height:                                           14pt;

}

.field_with_errors {

    @extend .control-group;
    @extend         .error;

    display:  inline-block;

}

.login-box, .list-index, .list-view, .list-form, .test-view {

    background-color:    #fff;
    color:               #000;

    margin:         10px auto;
    padding:             20px;


    -webkit-border-radius:       10px 10px 10px 10px;
    -moz-border-radius:          10px 10px 10px 10px;
    border-radius:               10px 10px 10px 10px;
    -webkit-box-shadow:    0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow:       0 1px 2px rgba(0,0,0,.15);
    box-shadow:            0 1px 2px rgba(0,0,0,.15);

}

.login-box { width:                 320px; }

.login-box h2, .login-box h3 {

    font-family: Garamond, Georgia, serif;
    font-weight:                      100;

}

.login-box                { text-align:       center; }

.login-box .input-prepend { display:    inline-block; }

.login-box .remember-me   { 

    margin:      10px;
    text-align:  left; 

}

.list-box {

    @extend    .span8;

    margin: 10px auto;

}

.sort-column {
    cursor:    hand;
    cursor: pointer;
}

.list_form {

    text-align: center;

}

.list_form                 select,
.list_form input[ type = 'text' ] {

    width:     100%;
    max-width: 100%;

}

.list_form table                  { width:    100%; }

.list_form input[ type = 'text' ] { 
    @extend .input-block-level;

    box-sizing:        border-box;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;

    height:                  28px;
}

.list_form .field_with_errors     { display: block; }

.list_form table td {

    @extend .span4;

}

.list_form  table td:nth-child(1),
.definition-table td:nth-child(1),
.definition-table th:nth-child(1) {

    padding-right:  10px;
    text-align:    right;

}

.list_form  table td:nth-child(2),
.definition-table td:nth-child(2),
.definition-table th:nth-child(2) {

    padding-left:   10px;
    text-align:     left;

}

.list_form table td:nth-child(3) {

    max-width:        1%;
    padding-bottom: 10px;

}

#test-details {
    font-size:    24pt;
    color:        #ddd;
}

#test-progress {

    float:       right;
    font-size:    24pt;
    color:        #ddd;
}


.test-question {

    text-align: center;
    font-size:    56pt;

}

.test-question h1 { font-size:56pt; }

#test_word {

    text-align: center;
    font-size:    24pt;
    line-height:  24pt;
    height:       60px;
}