<!DOCTYPE html>
<html>
<head>
  <title>Lingua</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='navbar navbar-fixed-top' style='position:absolute;'>
    <div class='navbar-inner'>
        <div class='container' style='width:auto; padding: 0 20 px; margin-left:10px;'>

            <a class='brand logo' href='#'>LinguA</a>

            <ul class='nav'>

                <li class='divider-vertical'></li>
                <li><a href='#'><i class='icon-list'></i> Lists</a></li>
                <li class='divider-vertical'></li>

            </ul>

        </div>
    </div>
</div>


<%= yield %>

</body>
</html>
